@page "/"
@using Microsoft.AspNetCore.Components.Forms
@using PixelWall_E.Components
@using System.IO
@inject IJSRuntime jsRuntime

<PageTitle>Home</PageTitle>

<section id=split-screen>
    <div class="left">
        <CanvasGrid/>
    </div>
    <div class="right">
        <div style="margin:10px 0;">
            Theme:
            <select @onchange="ChangeTheme">
                <option value="vs">Light</option>
                <option value="vs-dark">Dark</option>
                <option value="hc-black">High Contrast Black</option>
            </select>
        </div>

    <StandaloneCodeEditor @ref="_editor" Id="sample-code-editor" ConstructionOptions="EditorConstructionOptions"
        OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" />
    
    <div class="button-container">
        <button @onclick="GetCode" class="btn btn-primary">Run</button>
        <button @onclick="LoadFile" class="btn btn-primary">Load file</button>
        <button @onclick="ShowDialogueForSave" class="btn btn-primary">Save as .pw</button>
    </div>

    <InputFile @ref="_inputFileElement" id="fileInput" OnChange="HandleFileSelected" hidden accept=".pw" />
        <div class="save-dialogue" style="@dialogueStyle">
            <div class="dialogue-content">
                <h3>Guardar archivo</h3>
                <input @ref="_name" 
                        type="text" 
                        placeholder="name.pw" />
                <div class="dialogue-buttons">
                    <button @onclick="CancelSave"class="btn btn-primary accept">Cancel</button>
                    <button @onclick="ConfirmSave"class="btn btn-primary cancel">Save</button>
                </div>
            </div>
        </div>
    </div>  
</section>


