@page "/"
@using PixelWall_E.Components
@using System.IO
@inject IJSRuntime jsRuntime

<PageTitle>Home</PageTitle>

<section id=split-screen>
    <div class="left">
        <CanvasGrid/>
    </div>
    <div @ref="splitContainerRef" class="right">
    <div @ref="topPanelRef" id="rightTop" class="right-top">
        <PixelWall_E.Components.CodeEditor/>
    </div>
    <div @ref="splitterRef" id="splitter" class="splitter"></div>
    <div @ref="bottomPanelRef" id="rightBottom" class="right-bottom">
        <ConsolePw/>
    </div>
</div>  
</section>


