@inject IJSRuntime jsRuntime

<canvas @ref="_canvasElement" 
        id="pixelCanvas" 
        width="@Size" 
        height="@Size"
        style="border: 1px solid #ddd; background: white;">
</canvas>
<input @ref="_numberOfPixels"
        type="int" />
<button @onclick="ChangeGridSize" class="btn btn-primary">Resize</button>