@using Microsoft.AspNetCore.Components.Forms
@using PixelWall_E.Components
@using System.IO
@inject IJSRuntime jsRuntime

<div style="margin:10px 0; display: flex;  flex-direction: column;">

    <StandaloneCodeEditor @ref="_editor" Id="code-editor" ConstructionOptions="EditorConstructionOptions"
        OnDidInit="EditorOnDidInit" OnContextMenu="OnContextMenu" />
</div>